{% load bootstrap4 %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            My blog
        {% endblock %}
    </title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <div class="container">

        <header class="row py-5">
            <div class="col">
                <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_list' %}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post_create' %}">Write</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            

                {% if messages %}
                <div class="messages">
                    {% bootstrap_messages %}
                </div>
                {% endif %}
            </div>
        </header>
        
        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer class="row mt-5">
            <div class="col">
                <p class="text-center">&copy;My blog</p>
            </div>
        </footer>
    </div>

</body>

</html>