{% extends "registration/base_user.html" %}
{% load bootstrap4 %}

{% block title %}
{{ block.super }} - Login
{% endblock %}

{% block header %}
<h3>Login</h3>
{% endblock %}

{% block content %}
<div>
    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'user:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="submit" value="Login" , class="btn btn-primary">
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock content %}