{% load bootstrap4 %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            My blog
        {% endblock %}
    </title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'post_list' %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_create' %}">Write</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#"> {{ user.username }} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}

        </ul>
        </div>
    </nav>

    <header class="mt-4 mx-4">
        {% block header %}
        {% endblock %}
    </header>
    
    <main class="container mt-4">
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-11">
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    </main>

    <footer class="mx-4">
        <p>My blog</p>
    </footer>

</body>

</html>