<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My blog</title>
</head>

<body>
    <div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'posts' %}">All Posts</a></li>
            <li><a href="{% url 'categories' %}">All Categories</a></li>
            <li><a href="{% url 'new_post' %}">Write</a></li>
        </ul>
    </div>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>