{% extends "blog/base_blog.html" %}

{% block title %}
{{ block.super }} - Category List
{% endblock %}


{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-4">
        <ul class="list-unstyled text-center">
            {% for category in category_list %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
            {% empty %}
            <li>There is no category to show.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-3 text-right" >
        <a class="btn btn-light" href="{% url 'category_create' %}">Add New Category</a>
    </div>
</div>


{% endblock %}