{% extends "blog/base_blog.html" %}
{% load bootstrap4 %}

{% block title %}
{{ block.super }} - Category
{% endblock %}

{% block header %}
<h3>Category: {{ category.title|title }}</h3>
{% endblock %}

{% block blog_content %}
<p>Total {{ category.post_set.all.count }} blog post{{ category.post_set.all.count|pluralize }}. </p>
<ul class="list-inline">
    <li class="list-inline-item"><a href="{{ category.get_update_url }}">Edit Category</a></li>
    <li class="list-inline-item"><a href="{{ category.get_delete_url }}">Delete Category</a></li>
</ul>
{% for post in category.post_set.all %}
    <article class="mb-4">
        <header>
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <p class="small">{{ post.pub_date }}</p>
        </header>
        
        <p>{{ post.content|truncatewords:30 }}</p>
        <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-muted">Read more</a>
    
    </article>
    {% empty %}
    <p>There is no post to show.</p>
{% endfor %}

{% endblock %}