{% extends "blog/base.html" %}

{% block content %}
{% with count=categories|length %}
<p>There {{ count|pluralize:"is,are" }} {{ count }} categor{{ count|pluralize:"y,ies" }}.</p>
{% endwith %}
<ul class="list-unstyled">
    {% for category in categories %}
    <li><a href="{% url 'posts' category.id %}">{{ category.title }}</a></li>
    {% empty %}
    <li>There is no category to show.</li>
    {% endfor %}
    
</ul>
<p><a href="{% url 'new_category' %}">Add a new category</a></p>
<p><a href="{% url 'delete_category' %}">Delete a category</a></p>
{% endblock content%}