{% extends "blog/base.html" %}

{% load bootstrap4 %}

{% block content %}
<div>
    <form action="{% url 'delete_category' %}" method="post" class="form">
        {% csrf_token %}
        <label for="category">Choose a category to delete:</label>
        <select id="category" name="category">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.title }}</option>
            {% endfor %}
        </select>
        {% buttons %}
        <button type="submit" class="btn btn-primary">
        Delete
        </button>
        {% endbuttons %}
    </form>
</div>

</form>
{% endblock content%}