{% extends "blog/base_blog.html" %}
{% load bootstrap4 %}

{% block title %}
{{ block.super }} - Delete Post
{% endblock %}


{% block content %}
<div>
    <p>Are you sure you want to delete this post?</p>
    <p>Post: {{ post.title }}</p>
    <form action="{{ post.get_delete_url }}" method= "post" class="form">
        {% csrf_token %}
        {% buttons %}
        <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Cancel</a>
        <button type="submit" class="btn btn-primary">
            Delete
        </button>
        {% endbuttons %}
    </form>
</div>

{% endblock content%}