{% extends "blog/base.html" %}

{% block content %}
{% with count=posts|length %}
<p>There {{ count|pluralize:"is,are"}} {{ count }} post{{ count|pluralize }}.</p>
{% endwith %}
<ul class="list-unstyled">
    {% for post in posts %}
    <div class="mb-4">
        <li class="h4"><a href="{% url 'post' post.id %}">{{ post.title }}</a></li>
        <p class="small">{{ post.date_added }}</p>
        <p>{{ post.abstract }}</p>
        <a href="{% url 'post' post.id %}" class="text-decoration-none text-muted">Read more</a>
    </div>
    {% empty %}
    <li>There is no post to show.</li>
    {% endfor %}
</ul>

{% endblock content%}