{% extends "blog/base_blog.html" %}
{% load bootstrap4 %}

{% block title %}
{{ block.super }} - Post
{% endblock %}


{% block blog_content %}
<article>
    <header>
        <h3>{{ post.title }}</h3>
        <p>{{ post.pub_date|date:"l, F j Y"}}</p>
        <p>Category: {{ post.category.title }}</p>
        <ul>
            <li><a href="{{ post.get_update_url }}">Edit</a></li>
            <li><a href="{{ post.get_delete_url }}">Delete</a></li>
        </ul>
    </header>
    
    {{ post.content|linebreaks }}

</article>
{% endblock %}