{% extends "contact/base_contact.html" %}
{% load bootstrap4 %}

{% block title %}
{{ block.super }} - Contact
{% endblock %}

{% block header %}
<h3>Contact</h3>
{% endblock %}

{% block content %}
<div>
    <div>
        {% bootstrap_messages %}
        <form action="{% url 'contact:contact' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Send
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}